<img src="/about.png" class="icon" alt="">

<h1>THIS IS THE ABOUT PAGE</h1>

<p>
	This app doesn't do anything, but that doesn't matter!
	Feel free to check out the <a href="/" title="">home</a> page
</p>