<img src="/home.png" class="icon" alt="">

<h1>THIS IS THE HOME PAGE</h1>

<p>
	Welcome to your first ever Sinatra application
	Feel free to check out the <a href="/about" title="">about</a> page
</p>